/* Mobile css */
.App {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
}

.main-page {
  background-color: aliceblue;
}

header {
  background-color: antiquewhite;
  padding: 1.2em;
  margin: 0.2em;
  border: 0.1em ridge gray;
}

header > h1 {
  font-family: 'Notable', sans-serif;
  text-align: center;
  font-size: 1.4rem;
  color: black;
  text-shadow: 0.1rem 0.1rem lightgrey, 0.1rem 0.2rem gray, 0.3rem 0.4rem darkgrey;
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
}

#sectionInput {
  background-color: lightcyan;
  padding: 0.4em 0;
  margin: 0;
  width: 100%;
}

.section-list {
  margin: 0;
  padding: 0;
  background-color: silver;
  width: 100%;
}

.section-list li {
  border: 0.2em ridge darkblue;
  list-style: none;
}

.section-list img {
  border: 0.25rem ridge darkblue;
  border-radius: 0.75rem;
}

.section-list h2 {
  font-family: 'Notable', sans-serif;
  text-align: center;
  font-size: 1rem;
  color: darkblue;
  text-shadow: 0.1rem 0.1rem lightgrey, 0.1rem 0.2rem gray, 0.3rem 0.4rem darkgrey;
  padding: 0;
  margin: 0;
}

.map {
  height: 300px;
}

footer {
  font-family: 'Notable', sans-serif;
  text-align: center;
  font-size: 0.4rem;
  color: black;
  background-color: antiquewhite;
  text-shadow: 0.01rem 0.02rem darkgrey, 0.02rem 0.03rem gray, 0.04rem 0.05rem lightgrey;
  padding: 1.2em;
  margin: 0.2em;
  border: 0.1em ridge gray;
}
/* desktop css */
@media screen and (min-width: 800px) {
  .App {
    font-family: 'Indie Flower', cursive;
  }
  header {
    background-color: antiquewhite;
    padding: 1.4em;
    margin: 0.3em;
    border: 0.2em ridge gray;
  }
  
  header > h1 {
    font-family: 'Notable', sans-serif;
    text-align: center;
    font-size: 2.6rem;
    color: black;
    text-shadow: 0.1rem 0.1rem lightgrey, 0.1rem 0.2rem gray, 0.3rem 0.4rem darkgrey;
    padding: 0;
    margin: 0;
  }
  
  .main-page {
    background-color: aliceblue;
  }
  
  ol {
    padding: 0;
  }
  
  #sectionInput {
    background-color: lightcyan;
    padding: 1.2em 0;
    margin: 0;
    width: 100%;
  }

  .section-list {
    margin: 0;
    padding: 0;
    background-color: silver;
    width: 40%;
  }

  .section-list li {
    border: 0.2em ridge darkblue;
    list-style: none;
  }

  .section-list img {
    border: 0.25rem ridge darkblue;
    border-radius: 0.75rem;
  }

  .section-list h2 {
    font-family: 'Notable', sans-serif;
    text-align: center;
    font-size: 2.1rem;
    color: darkblue;
    text-shadow: 0.1rem 0.1rem lightgrey, 0.1rem 0.2rem gray, 0.3rem 0.4rem darkgrey;
    padding: 0;
    margin: 0;
  }

  .map {
    top: 13%;
    left: 40%
  }
  
  #sectionMap > div > div.map {
    width: 58vmax !important;
  }

  #sectionMap > div > div.map > div {
    width: 100%;
  }

  footer {
    font-family: 'Notable', sans-serif;
    text-align: center;
    font-size: 0.6rem;
    color: black;
    background-color: antiquewhite;
    text-shadow: 0.01rem 0.02rem darkgrey, 0.02rem 0.03rem gray, 0.04rem 0.05rem lightgrey;
    padding: 1.4em;
    margin: 0.3em;
    border: 0.2em ridge gray;
  }

}
 