/* Mobile css */
.App {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
}

.main-page {
  background-color: hsl(30, 13%, 91%);
}

header {
  background-color: hsl(30, 13%, 91%);
  padding: 1.2em;
  margin: 0.2em;
  border: 0.1em ridge gray;
}

header > h1 {
  font-family: 'Notable', sans-serif;
  text-align: center;
  font-size: 1.46rem;
  color: hsl(240, 40%, 60%);
  text-shadow: 0.1rem 0.1rem grey, 0.1rem 0.2rem darkgray, 0.3rem 0.4rem black;
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
}

strong {
  font-size: 1.1rem;
  text-shadow: 0.1rem 0.11rem grey, 0.12rem 0.13rem darkgray;
  padding: 0;
  margin: 0;
}

#sectionInput {
  background-color: hsl(30, 13%, 91%);
  color: hsl(5, 97%, 61%);
  border: 0.2em solid gray;
  padding: 0.4em 0.2em;
  margin: 0;
  font-size: 1rem;
  width: 100%;
}

.section-list {
  margin: 0;
  padding: 0;
  background-color: hsl(30, 13%, 91%);
  font-size: 0.9rem;
  width: 100%;
}

.section-list li {
  background-color: hsl(118, 56%, 82%);
  border: 0.18em solid darkgray;
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

#sectionList > div > div > ol > li > span > h3 {
  display: inline-block;
  padding: 0 0.8em;
  margin: 0;
}

.section-list img {
  border: 0.15rem ridge blue;
  border-radius: 0.75rem;
  width: 8px;
  height: 8px;
  padding: 0;
  margin: 0;
}

.section-list h2 {
  font-family: 'Notable', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  color: hsl(240, 40%, 60%);
  text-shadow: 0.1rem 0.1rem grey, 0.1rem 0.2rem darkgray, 0.3rem 0.4rem black;
  padding: 0;
  margin: 0;
}

.map {
  height: 300px;
}

/* desktop css */
@media screen and (min-width: 950px) {
  .App {
    font-family: 'Indie Flower', cursive;
  }
  header {
    background-color: hsl(30, 13%, 91%);
    padding: 1.4em;
    margin: 0.3em;
    border: 0.2em ridge gray;
    margin: 0;
    padding: 1em 0;
  }
  
  header > h1 {
    font-family: 'Notable', sans-serif;
    text-align: center;
    font-size: 2.6rem;
    color: hsl(240, 40%, 60%);
    text-shadow: 0.1rem 0.1rem grey, 0.1rem 0.2rem darkgray, 0.3rem 0.4rem black;
    padding: 0;
    margin: 0;
  }
  
  .main-page {
    background-color: hsl(30, 13%, 91%);
  }
  
  ol {
    padding: 0;
  }
  
  strong {
    font-size: 1.3rem;
    text-shadow: 0.1rem 0.11rem grey, 0.12rem 0.13rem darkgray;
    padding: 0;
    margin: 0;
  }

  #sectionInput {
    background-color: hsl(30, 13%, 91%);
    color: hsl(5, 97%, 61%);
    font-size: 1.2rem;
    border: 0.1em solid gray;
    padding: 1em 0.4em;
    margin: 0;
    width: 97%;
  }
  
  .section-list {
    margin: 0;
    padding: 0;
    background-color:hsl(30, 13%, 91%);
    width: 41%;
  }

  .section-list li {
    background-color: hsl(118, 56%, 82%);
    border: 0.25em ridge darkgray;
    list-style: none;
    font-size: 1rem;
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  
  #sectionList > div > div > ol > li > span > h3 {
    display: inline-block;
  }

  .section-list img {
    border: 0.25rem ridge darkblue;
    border-radius: 0.75rem;
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
  }

  .section-list h2 {
    font-family: 'Notable', sans-serif;
    text-align: center;
    font-size: 2.2rem;
    color: hsl(240, 40%, 60%);
    text-shadow: 0.1rem 0.1rem grey, 0.1rem 0.2rem darkgray, 0.3rem 0.4rem black;
    padding: 0;
    margin: 0;
  }

  .map {
    top: 11.2%;
    left: 41.2%;
  }
  
  #sectionMap > div > div.map {
    width: 58vmax !important;
    height: 88% !important;
  }

  #sectionMap > div > div.map > div {
    width: 100%;
    height: 100%;
  }

  #sectionMap {
    width: 100%;
  }
}
/* modal styles */
.modal {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: papayawhip;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(157, 216, 252, 0.384);
}
